.basket-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


.item-image {
  max-width: 12%;
}

.item-image>img {
  width: 80px;
}

.item-detail {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 85%;
  padding: 0 15px;
  border-bottom: 1px solid #e5e5e5;
  justify-content: space-around;
}

.item-description {
  padding: 0 25px;
}

.product-name {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-color,
.product-size {
  font-size: 11px;
  color: #666;
  font-weight: 400;
  line-height: 18px;
}

.item-cty {
  padding: 0 25px;
}

.content-cty {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bababa;
  border-radius: 3px;
}

.basket-change-quantity {
  width: 45px;
  height: 100%;
  border: oldlace;
  background-color: #fff;
  cursor: pointer;
}

.item-price {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.item-price>a {
  color: #5e5e5e;
  text-decoration: none;
  font-size: 13px;
}

.item-price>p {
  font-weight: 500;
  font-size: 18px;
}

.empty-cart {
  display: flex;
  align-items: center;
}

.empty-cart img {
  width: 240px;
}

.empty-cart-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart-text p {
  color: gray;
  margin-bottom: 5px;
}

.empty-cart-text a {
  color: gray;
  font-size: 12px;
  position: relative;
  transition: all .5s;
}

.empty-cart-text a:hover {
  color: #2196f3;
}

.empty-cart-text a svg {
  position: absolute;
  top: 6px;
  left: -20px;
}

@media screen and (max-width:1024px) {
  

  .basket-container{
    width: 73%;
  }

  .basket {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .basket-item,
  .item-detail {
    flex-wrap: nowrap;
  }

  .product-name{
    font-size: 12px;
  }
  
  .product-color, .product-size{
    font-size: 10px;
  }

  .item-image>img {
    width: 70px;
  }

  .content-cty{
    height: 35px;
  }

  .item-quantity{
    font-size: 12px;
  }

  .basket-change-quantity{
    width: 36px;
  }

  .item-price>p{
    font-size: 14px;
  }
  
  .item-price>a{
    font-size: 11px;
  }

  
}

@media screen and (max-width:768px) {
  .basket {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .basket-container {
    width: 100%;
  }

  

  .product-color,
  .product-size {
    margin-top: 6px;
  }




  .basket {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .basket-item,
  .item-detail {
    flex-wrap: nowrap;
  }

  .product-name{
    font-size: 14px;
  }
  
  .product-color, .product-size{
    font-size: 10px;
  }

  .item-image>img {
    width: 50px;
  }

  .content-cty{
    height: 35px;
  }

  .item-quantity{
    font-size: 12px;
  }

  .basket-change-quantity{
    width: 45px;
  }

  .item-price>p{
    font-size: 14px;
  }
  
  .item-price>a{
    font-size: 11px;
  }
}

@media screen and (max-width:576px) {
  .basket {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .basket-item,
  .item-detail {
    flex-wrap: nowrap;
  }

  .product-name{
    font-size: 10px;
  }
  
  .product-color, .product-size{
    font-size: 7px;
  }

  .item-image>img {
    width: 50px;
  }

  .content-cty{
    height: 31px;
  }

  .item-quantity{
    font-size: 12px;
  }

  .basket-change-quantity{
    width: 30px;
  }

  .item-price>p{
    font-size: 10px;
  }
  
  .item-price>a{
    font-size: 8px;
  }
}