* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Iransans';
  }

.banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    padding: 34vh 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('./images/joran-quinten-vtiYZsVmC2A-unsplash.jpg');
    background-size: cover;
}

.content-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 57%;
}

.title-banner {
    font-size: 6em;
    /* letter-spacing: 40px; */
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
    cursor: context-menu;
    text-align: center;
    margin-bottom: 50px;
}

@keyframes animate {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: transparent;
        text-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #2196f3;
        text-shadow: 0 0 10px #2196f3,
            0 0 25px #2196f3,
            0 0 40px #2196f3,
            0 0 80px #2196f3,
            0 0 160px #2196f3
    }
}

.subTitle-banner {
    color: #fff;
    line-height: 2;
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width:1024px) {

    .content-banner {
        width: 90%;
    }

    .subTitle-banner {
        line-height: 2.3;
        font-size: 15px;
    }

    /* .title-banner {
        font-size: 4em;
    } */
}

@media screen and (max-width:576px) {

    .title-banner {
        font-size: 4em;
    }

    .subTitle-banner {
        line-height: 2.3;
        font-size: 15px;
    }

    
}

@media screen and (max-width:375px){
    .title-banner{
        font-size: 3.5rem;
    }

    .subTitle-banner{
        font-size: 13px;
    }
}